

#error {
  color: rgb(255, 0, 0);
  font-family: 'Courier New', Courier, monospace;
}



.title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body {
  font-family: "Arial", sans-serif;
  background-color: beige;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}